# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Ignore build output
pico/src/p1p2.bin
pico/src/p1p2.dis
pico/src/p1p2.elf
pico/src/p1p2.elf.map
pico/src/p1p2.hex
pico/src/p1p2.uf2
pico/src/twos_complement.pio.h
pico/src/p1p2_uart_tx.pio.h
pico/src/CMakeFiles/*
pico/src/Makefile

pico/generated/

pico/tests/test_all
pico/tests/Makefile
pico/tests/CMakeFiles/*
pico/tests/CMakeCache.txt

pico/CMakeFiles/*
pico/CMakeCache.txt
pico/Makefile
