[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico/googletest"]
	path = pico/googletest
	url = https://github.com/google/googletest.git
